body{
    background-color: #fff4f4;
    font-family: 'Antic', sans-serif;
}

h1{
    font-family: 'Lily Script One', cursive;
    font-size: 100px;
    text-align: center;
}

h2{
    font-family: 'Lily Script One', cursive;
    font-size: 80px;
}

h3{
    font-family: 'Lily Script One', cursive;
    font-size: 90px;
}
