html{
    background-color:#ffabab;
}

body{
    background-color: #fff0d3;
    font-family: 'Jacques Francois', serif;
    font-size: 20px;
}

header{
    padding-bottom: 75px;
    border: 15px dotted #f0e0ff;
    background-image:url(https://img.freepik.com/free-vector/seamless-pattern-with-doodle-kitchen-baking-tools-retro-style_522613-134.jpg);
}

h1{
    font-family: 'Lily Script One', cursive;
    color:midnightblue;
    font-size: 70px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 100px;
}

h2{
    font-family: 'Lily Script One', cursive;
    font-size: 40px;
    text-align: center;
    color:midnightblue;
}

h3{
    font-family: 'Lily Script One', cursive;
    font-size: 90px;
    text-align: center;
    padding-bottom: 50px;
    border: 15px dotted #ffabab;
}

#top_grid{
    padding-bottom: 30px;
}

#top_grid img{
    float: left;
    width: 400px;
    height: 300px;
    margin: 0 0 20px 37px;
    object-fit: cover;
    margin-top: 15px;
    border: 10px solid #ffabab;
   
}

.column_one{
    padding-left: 550px;
    padding-right:100px;
   

}
.column_two{
    padding-right: 100px;
    padding-left:550px;
   
}

.column_two p{
    text-align: center;
}

#mid-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color: #f0e0ff;
}

#mid-grid li{
    width: 100%;
} 

.col_one ul {
    margin-left: 50px;
}

#glaze {
    text-align: left;
    margin-left: 100px;
}

#glaze h2{
    margin-right:50px;
}


#instructions li{
    margin-top: 25px;
    margin-bottom: 15px;
}

#instructions img{
    float: right;
    width: 300px;
    height: 200px;
    margin: 0 0 20px 37px;
    object-fit: cover;
    border: 10px solid #ffabab;

}

#instructions{
    padding-left: 50px;
    padding-right: 50px;
    

}


@media(max-width:785px){  
    header{
        padding-bottom:30px;
    }
    header h2{
        font-size:1.5rem;
    }
    body{
        font-size: 15px;
    }
    h1{
        font-size: 3.5em;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: block;
        padding-left: 0;
        padding-top: 100px;
    } 
    h2{
        font-size: 40px;
        text-align: center;
    }
    .column_one{
        text-align: center;
        padding-left: 0;
        padding-right:0;
    }
    .column_two{
        padding-left:0;
        padding-right:0;
        text-align:center;
    }
    #top_grid img{
        float: none;
        width: 50%;
        height: auto;
        margin-left: 110px;
    }
    #mid-grid{
        display: block;
        width: 100%;
    }
    #instructions img{
        float: none;
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
        object-fit: cover;
        padding-left: 0;
        padding-right: 0;
    }

}





